node_modules/
*src/features/test.xml*
*src/features/test.js*
*src/features/Decompressed.xml*
*src/features/compressed.txt*
*src/features/encFile.txt*
*src/features/testMin.xml*
*src/features/decFile.xml*
.vscode/
test.xml
test2.xml
ProjectReport.docx
compressionTrash.js
dist/